$text-Color: #AAAAAA;
@font-face {
    font-family: robotoBold;
    src: url(./assets/font/Roboto/Roboto-Bold.ttf);
}
@font-face {
    font-family: robotoRegular;
    src: url(./assets/font/Roboto/Roboto-Regular.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100vh;
    font-size: 62.5%;
    font-family: robotoRegular;
}
.container {
    display: flex;
    width: 100%;
    .sidebar {
        width: 10%;
        height: auto;
        background-color: black;
        ul {
            list-style: none;
            color: $text-Color; 
            li {
                text-align: center;
                font-size: 1rem;
                width: 100%;
                padding: 15px 0;
                border-bottom: 1px solid $text-Color;
                font-family: robotoBold;
            }
            li:nth-child(1) {
                color: white;
            }
            li:hover {
                color: white;
                cursor: pointer;
                background-color: rgba(255, 255,255, .5);
            }
        }
    }
    .sidebar-tablet {
        display: none;
    }
    .main-area {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        .main-content{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            .logo {
                width: 100%;
                display: flex;
                justify-content: center;
                margin: 10px 0px;
            }
            .description-container{
                width: 80%;
                background-color: #EFEFEF;
                display: flex;
                justify-content: center;
                .description {
                    width: 80%;
                    text-align: center;
                    padding: 15px 0px;
                    strong {
                        font-size: 1.1rem;
                        font-family: robotoBold;
                    }
                    p {
                        font-size: 1rem;
                        margin-top: 10px;
                    }
                }
            }
            .content {
                width: 80%;
                display: flex;
                justify-content: space-between;
                margin-top: 20px;
                .item {
                    width: 33%;
                    strong {
                        font-size: 1.2rem;
                        font-family: robotoBold;
                    }
                    p {
                        margin-top: 5px;
                        font-size: 1rem;
                    }
                }
                #dropcamping-1::before {
                    content: '';
                    width: 124px;
                    height: 124px;
                    background-image: url('../img/css-icon\ 1.png');
                    background-repeat: no-repeat;
                    background-size: contain;
                    float: left;
                }
                #dropcamping-2::before {
                    content: '';
                    width: 124px;
                    height: 124px;
                    background-image: url('../img/html-icon\ 1.png');
                    background-repeat: no-repeat;
                    background-size: contain;
                    float: left;
                }
                #dropcamping-3::before {
                    content: '';
                    width: 124px;
                    height: 124px;
                    background-image: url('../img/url-icon\ 1.png');
                    background-repeat: no-repeat;
                    background-size: contain;
                    float: left;
                }
            }
        }
        
        .footer {
            margin-top: 200px;
            width: 100%;
            padding: 20px 0px;
            display: flex;
            justify-content: center;
            border-top: 1px solid $text-Color;
            span {
                width: 75%;
                font-size: 1rem;
            }
        }
    }
}